<% if user_signed_in? %>

<% else %>

  <div class="jumbotron">
    <h1 class="display-4 jumbotron-header">MyWordList</h1>
    <p class="lead">Узнали новое английское слово? Запишите!</p>
    <hr class="my-4">
    <%= link_to "Создать аккаунт", new_user_registration_path, class: "btn btn-primary" %>
    <%= link_to "Войти", new_user_session_path, class: "btn btn-secondary" %>
  </div>

<% end %>
