
<nav class="nav nav-pills nav-fill">
  <a class="nav-item nav-link active" href="http://localhost:3000/?letter=a">A</a>
  <a class="nav-item nav-link" href="http://localhost:3000/?letter=b">B</a>
  <a class="nav-item nav-link" href="http://localhost:3000/?letter=c">C</a>
  <a class="nav-item nav-link disabled" href="http://localhost:3000/?letter=d">D</a>
  <a class="nav-item nav-link disabled" href="http://localhost:3000/?letter=e">E</a>
  <a class="nav-item nav-link disabled" href="http://localhost:3000/?letter=f">F</a>
  <a class="nav-item nav-link disabled" href="http://localhost:3000/?letter=g">G</a>
  <a class="nav-item nav-link disabled" href="http://localhost:3000/?letter=h">H</a>
  <a class="nav-item nav-link disabled" href="http://localhost:3000/?letter=i">I</a>
  <a class="nav-item nav-link disabled" href="http://localhost:3000/?letter=j">J</a>
  <a class="nav-item nav-link disabled" href="http://localhost:3000/?letter=k">K</a>
  <a class="nav-item nav-link disabled" href="http://localhost:3000/?letter=l">L</a>
  <a class="nav-item nav-link disabled" href="http://localhost:3000/?letter=m">M</a>
  <a class="nav-item nav-link disabled" href="http://localhost:3000/?letter=n">N</a>
  <a class="nav-item nav-link disabled" href="http://localhost:3000/?letter=o">O</a>
  <a class="nav-item nav-link disabled" href="http://localhost:3000/?letter=p">P</a>
  <a class="nav-item nav-link disabled" href="http://localhost:3000/?letter=q">Q</a>
  <a class="nav-item nav-link disabled" href="http://localhost:3000/?letter=r">R</a>
  <a class="nav-item nav-link disabled" href="http://localhost:3000/?letter=a">S</a>
  <a class="nav-item nav-link disabled" href="http://localhost:3000/?letter=t">T</a>
  <a class="nav-item nav-link disabled" href="http://localhost:3000/?letter=u">U</a>
  <a class="nav-item nav-link disabled" href="http://localhost:3000/?letter=v">V</a>
  <a class="nav-item nav-link disabled" href="http://localhost:3000/?letter=w">W</a>
  <a class="nav-item nav-link disabled" href="http://localhost:3000/?letter=x">X</a>
  <a class="nav-item nav-link disabled" href="http://localhost:3000/?letter=y">Y</a>
  <a class="nav-item nav-link disabled" href="http://localhost:3000/?letter=z">Z</a>
</nav>


<% @words.each do |word| %>
    <p><%= link_to word.title, word_path(word) %> - <%= word.translation %></p>
  <% end %>
</div>
