<ul class="nav nav-tabs" id="myTab" role="tablist">

  <li class="nav-item">
    <a class="nav-link active" id="a-tab" data-toggle="tab" href="#a" role="tab" aria-controls="a" aria-selected="true">A</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="b-tab" data-toggle="tab" href="#b" role="tab" aria-controls="b" aria-selected="false">B</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="c-tab" data-toggle="tab" href="#c" role="tab" aria-controls="c" aria-selected="false">C</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="d-tab" data-toggle="tab" href="#d" role="tab" aria-controls="d" aria-selected="false">D</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="e-tab" data-toggle="tab" href="#e" role="tab" aria-controls="e" aria-selected="false">E</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="f-tab" data-toggle="tab" href="#f" role="tab" aria-controls="f" aria-selected="false">F</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="g-tab" data-toggle="tab" href="#g" role="tab" aria-controls="g" aria-selected="false">G</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="h-tab" data-toggle="tab" href="#h" role="tab" aria-controls="h" aria-selected="false">H</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="i-tab" data-toggle="tab" href="#i" role="tab" aria-controls="i" aria-selected="false">I</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="j-tab" data-toggle="tab" href="#j" role="tab" aria-controls="j" aria-selected="false">J</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="k-tab" data-toggle="tab" href="#k" role="tab" aria-controls="k" aria-selected="false">K</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="l-tab" data-toggle="tab" href="#l" role="tab" aria-controls="l" aria-selected="false">L</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="m-tab" data-toggle="tab" href="#m" role="tab" aria-controls="m" aria-selected="false">M</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="n-tab" data-toggle="tab" href="#n" role="tab" aria-controls="n" aria-selected="false">N</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="o-tab" data-toggle="tab" href="#o" role="tab" aria-controls="o" aria-selected="false">O</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="p-tab" data-toggle="tab" href="#p" role="tab" aria-controls="p" aria-selected="false">P</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="q-tab" data-toggle="tab" href="#q" role="tab" aria-controls="q" aria-selected="false">Q</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="r-tab" data-toggle="tab" href="#r" role="tab" aria-controls="r" aria-selected="false">R</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="s-tab" data-toggle="tab" href="#s" role="tab" aria-controls="s" aria-selected="false">S</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="t-tab" data-toggle="tab" href="#t" role="tab" aria-controls="t" aria-selected="false">T</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="u-tab" data-toggle="tab" href="#u" role="tab" aria-controls="u" aria-selected="false">U</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="v-tab" data-toggle="tab" href="#v" role="tab" aria-controls="v" aria-selected="false">V</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="w-tab" data-toggle="tab" href="#w" role="tab" aria-controls="w" aria-selected="false">W</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="x-tab" data-toggle="tab" href="#x" role="tab" aria-controls="x" aria-selected="false">X</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="y-tab" data-toggle="tab" href="#y" role="tab" aria-controls="y" aria-selected="false">Y</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="z-tab" data-toggle="tab" href="#z" role="tab" aria-controls="z" aria-selected="false">Z</a>
  </li>

</ul>

<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active" id="a" role="tabpanel" aria-labelledby="a-tab">


  </div>

  <div class="tab-pane fade" id="b" role="tabpanel" aria-labelledby="b-tab">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus officiis dolorum et rerum ducimus modi est, consequatur commodi nam, ratione dolore ullam nulla dolores error beatae voluptas placeat officia adipisci.</div>

  <div class="tab-pane fade" id="c" role="tabpanel" aria-labelledby="c-tab">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque facere sint reiciendis illo rerum eveniet, cupiditate, nam labore, dolore saepe, corrupti maxime natus assumenda alias corporis minus modi ab debitis.</div>

</div>
