<nav class="nav nav-pills nav-fill">
  <a class="nav-item nav-link" href="?letter=A">A</a>
  <a class="nav-item nav-link" href="?letter=B">B</a>
  <a class="nav-item nav-link" href="?letter=C">C</a>
  <a class="nav-item nav-link" href="?letter=D">D</a>
  <a class="nav-item nav-link" href="?letter=E">E</a>
  <a class="nav-item nav-link" href="?letter=f">F</a>
  <a class="nav-item nav-link" href="?letter=G">G</a>
  <a class="nav-item nav-link" href="?letter=H">H</a>
  <a class="nav-item nav-link" href="?letter=I">I</a>
  <a class="nav-item nav-link" href="?letter=J">J</a>
  <a class="nav-item nav-link" href="?letter=K">K</a>
  <a class="nav-item nav-link" href="?letter=L">L</a>
  <a class="nav-item nav-link" href="?letter=M">M</a>
  <a class="nav-item nav-link" href="?letter=N">N</a>
  <a class="nav-item nav-link" href="?letter=O">O</a>
  <a class="nav-item nav-link" href="?letter=P">P</a>
  <a class="nav-item nav-link" href="?letter=Q">Q</a>
  <a class="nav-item nav-link" href="?letter=R">R</a>
  <a class="nav-item nav-link" href="?letter=S">S</a>
  <a class="nav-item nav-link" href="?letter=T">T</a>
  <a class="nav-item nav-link" href="?letter=U">U</a>
  <a class="nav-item nav-link" href="?letter=V">V</a>
  <a class="nav-item nav-link" href="?letter=W">W</a>
  <a class="nav-item nav-link" href="?letter=X">X</a>
  <a class="nav-item nav-link" href="?letter=Y">Y</a>
  <a class="nav-item nav-link" href="?letter=Z">Z</a>
</nav>

<br>

<% @words.each do |word|%>
    <p><%= link_to word.title, word_path(word) %> - <%= word.translation %></p>
<% end %>
