<br>  
<nav class="nav nav-pills nav-fill">
  <a class="nav-item nav-link active" href="./?letter=a">A</a>
  <a class="nav-item nav-link" href="./?letter=b">B</a>
  <a class="nav-item nav-link" href="./?letter=c">C</a>
  <a class="nav-item nav-link disabled" href="./?letter=d">D</a>
  <a class="nav-item nav-link disabled" href="./?letter=e">E</a>
  <a class="nav-item nav-link disabled" href="./?letter=f">F</a>
  <a class="nav-item nav-link disabled" href="./?letter=g">G</a>
  <a class="nav-item nav-link disabled" href="./?letter=h">H</a>
  <a class="nav-item nav-link disabled" href="./?letter=i">I</a>
  <a class="nav-item nav-link disabled" href="./?letter=j">J</a>
  <a class="nav-item nav-link disabled" href="./?letter=k">K</a>
  <a class="nav-item nav-link disabled" href="./?letter=l">L</a>
  <a class="nav-item nav-link disabled" href="./?letter=m">M</a>
  <a class="nav-item nav-link disabled" href="./?letter=n">N</a>
  <a class="nav-item nav-link disabled" href="./?letter=o">O</a>
  <a class="nav-item nav-link disabled" href="./?letter=p">P</a>
  <a class="nav-item nav-link disabled" href="./?letter=q">Q</a>
  <a class="nav-item nav-link disabled" href="./?letter=r">R</a>
  <a class="nav-item nav-link disabled" href="./?letter=s">S</a>
  <a class="nav-item nav-link disabled" href="./?letter=t">T</a>
  <a class="nav-item nav-link disabled" href="./?letter=u">U</a>
  <a class="nav-item nav-link disabled" href="./?letter=v">V</a>
  <a class="nav-item nav-link disabled" href="./?letter=w">W</a>
  <a class="nav-item nav-link disabled" href="./?letter=x">X</a>
  <a class="nav-item nav-link disabled" href="./?letter=y">Y</a>
  <a class="nav-item nav-link disabled" href="./?letter=z">Z</a>
</nav>

<br>

<% @words.each do |word| %>
    <p><%= link_to word.title, word_path(word) %> - <%= word.translation %></p>
  <% end %>
</div>
