/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Neucha');
 $card-cap-bg: rgba(255,255,255,0.5);
 $card-bg: rgba(255,255,255,0.4);

 .text-logo {
   font-size: 2.5em;
 }

 .all-text {
   font-family: 'Neucha', cursive;
   font-size: 1.1em;
 }

 .container-background {
   width: 100%;
   min-height: 100vh;
   background-size: cover;
   background-image: url(image_path('background.jpg'));
   background-position: center;
 }

 .container-login {
  padding-right: 0;
  padding-left: 0;
}

// jumbotron

 .jumbotron {
   background-color: rgba(255,255,255,0.6);
   text-align: center;
   width: 50%;
   margin-left: auto;
   margin-right: auto;
 }

 .jumbotron-header {
   font-size: 2.5em;

 }

/// devise form

 .card {
   background-color: rgba(255,255,255,0.5);
 }

 .card-header {
   background-color: rgba(255,255,255,0.6);
 }

 .devise-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

// For mobile

 @media (max-width:768px) {
   .jumbotron {
     width: 100%;
   }
   .devise-form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
 }
