<p>Привет, <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку на изменение вашего пароля. Вы можете сделать это через ссылку ниже.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали сброс пароля, то, пожалуйста, проигнорируйте это письмо.</p>
<p>Ваш пароль не изменится, пока вы не перейдете по ссылке выше и не создадите новый.</p>
